/* - - - basic - - - */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* custom properties */
  --font-roboto: 'Roboto', sans-serif;
  --color-bg: #ffffff;
  --color-light: #ffffff;
  --color-dark: #2e2800;
  --color-primary-light: #a791a5;
  --color-primary-main: #625261;
  --color-primary-dark: #423842;
  --color-secondary-light: #b8e4da;
  --color-secondary-main: #89beb3;
  --color-secondary-dark: #658d85;

  box-sizing: border-box;
  font-size: 62.4%;
  font-family: var(--font-roboto);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-bg);
  color: var(--color-dark);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* - - - navbar - - - */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-secondary-main);
}

.navbar--logo {
  height: 5rem;
  margin-right: auto;
  fill: var(--color-primary-dark);
}

.navbar--list {
  display: flex;
  justify-content: space-between;
}
.navbar--list--item {
  margin-right: 2rem;
  padding: 0;
}

.navbar--list--item a {
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  background-color: var(--color-secondary-light);
  transition: all 0.1s ease-in-out;
  color: var(--color-primary-dark);
  transition: all 0.1s ease-in-out;
}

.navbar--list--item:hover a {
  background-color: var(--color-secondary-dark);
  cursor: pointer;
  color: var(--color-light);
}

.navbar--list--item:last-of-type a {
  margin-right: 0;
}

/* - - - header - - - */
.header {
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: var(--color-dark);
  text-transform: uppercase;
}

.header h1 {
  font-weight: 200;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary-main);
}

/* - - - instructions - - - */
.instructions {
  width: 50%;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid var(--color-secondary-main);
  border-radius: 0.6rem;
}

.instructions--title {
  color: var(--color-primary-dark);
}

.instructions--subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--color-secondary-main);
}

.instructions--text {
  margin-bottom: 1rem;
}

.instructions--list {
  padding-left: 2rem;
}

/* - - - button - - - */
.btn-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 2rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--color-light);
  letter-spacing: 1px;
  background-image: linear-gradient(
    60deg,
    var(--color-secondary-main),
    var(--color-primary-main) 40%
  );
  background-size: 300% auto;
  border-radius: 0.6rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    60deg,
    var(--color-primary-main),
    var(--color-secondary-main) 60%
  );
  background-size: 200% auto;
}

/* - - - about - - - */
.container {
  width: 50%;
  padding: 2rem;
  margin: 0 auto 4rem auto;
  background-color: #eee;
  border-radius: 1rem;
}

.container:last-of-type {
  margin-bottom: 8rem;
}

.container--title {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-main);
  font-weight: 200;
  margin-bottom: 2rem;
}

.container p,
h3 {
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card--img {
  width: 8rem;

  background-color: red;
  margin-right: 2rem;
  border-radius: 50%;
}

/* - - - footer - - - */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  background-color: var(--color-primary-main);
}

.footer--list {
  border-left: 1px solid var(--color-light);
  display: flex;
  width: 13.4rem;
  flex-direction: column;
  justify-content: space-between;
}

.footer--list--item a {
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  color: var(--color-light);
}

.footer--list--item a:hover {
  color: var(--color-secondary-main);
}

.footer--logo-lemon-container {
  position: relative;
  width: 13.4rem;
  height: 12rem;
  border: 1px solid var(--color-light);
  border-radius: 1rem;
}

.footer--logo-lemon-container:hover {
  border: 1px solid var(--color-secondary-main);
  cursor: pointer;
}

.footer--copyright {
  align-self: flex-end;
  color: var(--color-light);
}

.footer--logo-lemon-container:hover .footer--logo-lemon {
  fill: var(--color-secondary-main);
}

.footer--logo-lemon {
  position: absolute;
  top: 0.8rem;
  right: 1.6rem;
  fill: var(--color-light);
  height: 10rem;
  width: 10rem;
}
