/* - - - basic - - - */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* custom properties */
  --font-default: 'Roboto', sans-serif;
  --color-bg: #ffffff;
  --color-light: #ffffff;
  --color-dark: #2e2800;
  --color-grey-light: #eee;
  --color-grey-medium: #ccc;
  --color-primary-main: #d9d900;
  --color-alert: rgb(255, 87, 51);

  box-sizing: border-box;
  font-size: 62.4%;
  font-family: var(--font-default);
}

body {
  position: absolute;
  font-size: 1.6rem;
  background-color: var(--color-bg);
  color: var(--color-dark);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* - - - common - - - */
.box-content {
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 12rem 0;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid var(--color-grey-medium);
}

.heading {
  width: max-content;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin: 0 auto 4rem auto;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-primary-main);
}

.container {
  width: 70%;
  margin: 0 auto 8rem auto;
  padding: 3rem;
  background-color: var(--color-grey-light);
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}

.container p,
.container h3 {
  margin-bottom: 1.5rem;
}

/* - - - - - navbar - - - - - */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.6rem;
  z-index: 1000;
  border-bottom: 2px solid var(--color-dark);
  background-image: linear-gradient(
    60deg,
    var(--color-light) 25rem,
    var(--color-primary-main) 25rem,
    var(--color-light) 90%
  );
}

.navbar__logo {
  min-height: 6rem;
  max-width: 17.5rem;
  margin-top: 0.6rem;
  margin-left: 3.8rem;
  fill: var(--color-dark);
}

.navbar__list {
  display: flex;
  margin-left: auto;
  margin-right: none;
  justify-content: space-between;
  align-items: center;
}

.navbar__list-container {
  display: flex;
  margin-left: auto;
}

.navbar__list__item {
  margin-right: 2.5rem;
}

.navbar__cta-button {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-right: 3rem;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--color-alert);
  background-color: transparent;
  border: 2px solid var(--color-alert);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.navbar__cta-button:hover,
.navbar__cta-button:active {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-alert);
  outline: none;
}

.navbar__cta-button__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  fill: var(--color-alert);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.navbar__cta-button:hover .navbar__cta-button__icon,
.navbar__cta-button:active .navbar__cta-button__icon {
  fill: var(--color-light);
}

.navbar__list__item a {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--color-dark);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.navbar__list__item a:hover {
  border-bottom: 2px solid var(--color-alert);
  color: var(--color-alert);
}

.navbar__list__item:last-of-type a {
  margin-right: 1.8rem;
}

@media only screen and (max-width: 770px) {
  .navbar {
    background-image: none;
    background-color: var(--color-light);
  }
}

@media only screen and (max-width: 728px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: auto;
  }

  .navbar__logo {
    height: 3rem;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .navbar__list-container {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .navbar__list {
    margin-right: auto;
  }

  .navbar__cta-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.2rem;
    color: var(--color-light);
    background-color: var(--color-alert);
    border: none;
  }

  .navbar__cta-button:hover,
  .navbar__cta-button:active {
    background-color: var(--color-dark);
  }

  .navbar__cta-button__icon {
    fill: var(--color-light);
  }

  .navbar__list__item:last-of-type {
    margin-right: 0;
  }

  .navbar__list__item:last-of-type a {
    margin-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__list-container {
    flex-direction: column-reverse;
  }

  .navbar__list {
    margin-bottom: 2rem;
  }

  .navbar__cta-button {
    margin-right: 0;
    width: 17rem;
    margin: 0 auto;
  }
}

/* - - - - - top - - - - - */
.top-container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 8.7rem);
  margin-top: 8.8rem;
}

@media only screen and (max-width: 1250px) {
  .top-container {
    height: max-content;
    margin-top: 14rem;
    padding-bottom: 12rem;
  }
}

@media only screen and (max-width: 728px) {
  .top-container {
    margin-top: 6rem;
    padding-bottom: 0rem;
  }
}

/* - - - - - top - main button - - - - -*/
.cta-button-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.cta-button {
  display: flex;
  align-items: center;
  padding: 2.5rem 3.5rem;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--color-alert);
  border: 2px solid var(--color-alert);
  background-color: transparent;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.cta-button:hover,
.cta-button:active {
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--color-alert);
  outline: none;
}

.cta-button__icon {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  fill: var(--color-alert);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.cta-button:hover .cta-button__icon,
.cta-button:active .cta-button__icon {
  fill: var(--color-light);
}

@media only screen and (max-width: 1250px) {
  .cta-button-container {
    display: none;
  }
  .cta-button {
    display: none;
  }
}

/* - - - - - top - instructions - - - - - */
.instructions-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.instructions {
  width: 65%;
  margin-left: auto;
  display: block;
  padding: 3rem;
  border: 2px solid var(--color-grey-medium);
}

.instructions__title {
  color: var(--color-dark);
}

.instructions__subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.instructions__list {
  padding-left: 2rem;
}

.instructions__text {
  margin-bottom: 1rem;
}

.video-container {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 4%;
  padding: 0;
}

.video {
  width: 95%;
  max-height: 220px;
  padding: 0;
  background-color: #151611;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .video {
    max-width: 400px;

    max-height: 300px;
  }
}

@media only screen and (max-width: 1250px) {
  .instructions-container {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .instructions {
    width: 100%;
    margin-right: 0;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .instructions-container {
    width: 80%;
  }
}

@media only screen and (max-width: 770px) {
  .instructions-container {
    width: 100%;
  }

  .instructions {
    border: none;
    border-top: 2px solid var(--color-grey-medium);
    border-bottom: 2px solid var(--color-grey-medium);
  }
}

@media only screen and (max-width: 728px) {
  .instructions {
    border: none;
  }
}

@media only screen and (max-width: 578px) {
  .instructions-container {
    padding-top: 8rem;
  }
}

@media only screen and (max-width: 480px) {
  .instructions-container {
    padding-top: 12rem;
  }
}

/* - - - - - credits - - - - - */
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card__img {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}
.avatar {
  border-radius: 50%;
  border: 2px solid var(--color-dark);
  max-width: 100%;
  max-height: 100%;
}

.card__text {
  flex: 1;
  margin-left: 2.5rem;
}

.divider {
  display: block;
  height: 1px;
  margin-bottom: 3.5rem;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--color-dark);
}

@media only screen and (max-width: 578px) {
  .card {
    flex-direction: column;
  }

  .card__img {
    margin-bottom: 2rem;
  }

  .card__text {
    margin-left: 0;
  }

  .card__text h3 {
    text-align: center;
  }
}

/* - - - - - contact - - - - - */
.contact-container {
  width: 100%;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.input-field input {
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: var(--font-default);
  outline: none;
  border: none;
}

form textarea {
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: var(--font-default);
  outline: none;
  resize: none;
  border: none;
}

.btn-submit {
  width: 100%;
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  opacity: 1;
  color: var(--color-light);
  background-color: var(--color-dark);
  outline: none;
  border: none;
  transition: all 0.4;
  -webkit-transition: all 0.4;
}

.btn-submit:hover,
.btn-submit:active {
  cursor: pointer;
  opacity: 0.8;
}

/* - - - footer - - - */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
  padding: 0rem 10rem;
  background-color: var(--color-dark);
}

@media only screen and (max-width: 728px) {
  .footer {
    padding: 2rem 4rem 3rem 4rem;
  }
}

@media only screen and (max-width: 380px) {
  .footer {
    height: 35rem;
  }
}

.footer__top-container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  height: 19.5rem;
  align-items: center;
}

@media only screen and (max-width: 380px) {
  .footer__top-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 22rem;
  }
}

.footer__logo {
  height: 9rem;
  width: 10.2rem;
}

@media only screen and (max-width: 728px) {
  .footer__logo {
    height: 9rem;
    width: 8.5rem;
  }
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media only screen and (max-width: 380px) {
  .footer__list {
    text-align: center;
    margin-top: 2.4rem;
  }
}

.footer__list__item {
  margin-top: 0.5rem;
}

.footer__list__item a {
  font-size: 1.7rem;
  color: var(--color-grey-light);
  text-decoration: none;
  font-weight: 300;
}

.footer__list__item a:hover {
  color: var(--color-primary-main);
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d900;
  padding-top: 1rem;
}

@media only screen and (max-width: 380px) {
  .footer__bottom-container {
    flex-direction: column;
    align-items: center;
  }
}

.footer--logo-lemon-container:hover .footer--logo-lemon {
  fill: var(--color-secondary-main);
}

.footer--logo-lemon {
  position: absolute;
  top: 0.8rem;
  right: 1.6rem;
  fill: var(--color-light);
  height: 8rem;
  width: 8rem;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__icon-list-item {
  margin-right: 1.2rem;
}
.footer__icon-list-item:last-of-type {
  margin-right: 0;
}

.footer__icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-grey-light);
}

.footer__icon:hover {
  fill: var(--color-primary-main);
}

.footer__icon-twitter {
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 0.2rem;
  margin-right: -0.6rem;
  margin-left: -0.6rem;
  fill: var(--color-grey-light);
}

.footer__icon-twitter:hover {
  fill: var(--color-primary-main);
}

.footer__copyright {
  color: var(--color-grey-light);
  font-weight: 300;
  font-size: 1.4rem;
}

@media only screen and (max-width: 578px) {
  .footer__copyright {
    margin-top: 0.4rem;
  }
}
